<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd 
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="false">

	<description>Web Service-RESTFUL配置</description>
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- 接口基本校验拦截类 -->
	<bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />

	<!-- json和xml解析器 -->
	<bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
	<bean id="xmlProvider" class="com.fasterxml.jackson.jaxrs.xml.JacksonXMLProvider" />
	
	<!-- 自定义接口认证异常解析器 -->
	<bean id="authExceptionMapper" class="cn.imethan.jax.rs.mapper.AuthExceptionMapper" />
	
	<bean id="messageInterceptor" class="cn.imethan.jax.rs.interceptor.MessageInterceptor" />
	
	<!-- 权限验证拦截器 -->
	<bean id="authInterceptor" class="cn.imethan.jax.rs.interceptor.AuthInterceptor" />
	
	<!-- 参数校验解析器 -->
	<bean id="validationExceptionMapper" class="cn.imethan.jax.rs.mapper.ValidationExceptionMapper" />
	<bean id="validationProvider" class="org.apache.cxf.validation.BeanValidationProvider" />
	<!-- 参数校验拦截器 -->
	<bean id="validationInInterceptor" class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationInInterceptor">
		<property name="provider" ref="validationProvider" />
	</bean>
	<bean id="validationOutInterceptor" class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationOutInterceptor">
		<property name="provider" ref="validationProvider" />
	</bean>


	<!-- 全局配置 -->
	<!-- <cxf:bus> -->
	<!-- <cxf:features> -->
	<!-- <cxf:logging/> -->
	<!-- </cxf:features> -->
	<!-- </cxf:bus> -->
	
	<!-- 总线配置 -->
	<cxf:bus>
		<cxf:inInterceptors>
			<ref bean="logInbound" />
			<ref bean="authInterceptor" />
			<ref bean="validationInInterceptor" />
		</cxf:inInterceptors>
		<cxf:outInterceptors>
			<ref bean="logOutbound" />
			<ref bean="validationOutInterceptor" />
		</cxf:outInterceptors>
		<cxf:outFaultInterceptors>
			<ref bean="logOutbound" />
		</cxf:outFaultInterceptors>
		<cxf:inFaultInterceptors>
			<ref bean="logInbound" />
		</cxf:inFaultInterceptors>
	</cxf:bus>

	<!-- restful接口申明 -->
	<bean id="customerService" class="cn.imethan.jax.rs.service.CustomerServiceImpl" />
	<jaxrs:server id="restWebservice" address="/rs" >
		<jaxrs:serviceBeans>
			<ref bean="customerService" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<ref bean="xmlProvider" />
			<ref bean="authExceptionMapper" />
			<ref bean="validationExceptionMapper" />
		</jaxrs:providers>
		<jaxrs:languageMappings>
			<entry key="cn" value="cn-ZH" />
		</jaxrs:languageMappings>
	</jaxrs:server>

</beans>